/* Scrollbar Customisation */

.scrollmenu::-webkit-scrollbar {
    width: 10px;
}

.scrollmenu::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.scrollmenu::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:10px;
}

.scrollmenu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Horizontal Menu */

#nav li {
  list-style: none;
  float: left;  
}

/* Hidden menu */
#nav ul { 
  overflow: hidden;
  position: absolute;
  display: none;
  padding: 0;
}

#nav a {
  display: block;
  text-decoration: none;
}



#nav li:hover > ul {
    z-index: 1;
    display: block;
    background-color: #f9f9f9;
    margin-top: 55px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 13px;
    margin-left: -16;
}

#nav li:hover > ul a{
    padding: 10px
}

.dropdown-link:hover{
    background: #bbb
}

#menu-main:active{
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 8px;
    border-bottom: 4px solid white;
}

#main-menu{
    background-color: #343434;
    height: 60px;
    display: block;  
}


#main-menu ul{
    margin: 0;
    padding: 0;    
}

#main-menu li a:not(.dropdown-link), span:not(.current){
    color: white;       
}

#main-menu li:not(.dropdown-link), span:not(.rates){
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 8px;
    float: left;
}

#main-menu li:hover{
    border-bottom: 4px solid purple;
}

#main-menu li:last-child {
    float: right;
}

/* Horizontal Scrollmenu */

.scrollmenu {
    background-color: #343434; 
    overflow: auto;
    white-space: nowrap;
    display: flex;
    margin: 30px;
}

.scrollmenu .item {
    display: inline-block;
    background-color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin: 10px;
    margin-top: 10px;
    border: 5px solid #542C7C;
}


.scrollmenu .item .title {
    display: inline-block;
    color: white;
}

.scrollmenu .item .title h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
}

.scrollmenu .item .title p {
    font-size: 20px;
    font-family: arial;
    color: black;
    text-align: left;
    border: 1px solid black;
    padding: 4px;
}

.scrollmenu .item a {
    background-color: #542C7C;
    color: white;
    font-size: 40px;
    font-family: calibri;
    align-self: center;
    text-decoration: none;
    border: 5px solid black;
    border-radius: 3px;
}

.scrollmenu img {
    max-width: 200px;
    margin: 20px;
    border: 4px solid black;
}

.scrollmenutitle {
    background-color: white;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 0;
    font-family: arial;
    font-size: 25;
}

/* The Title of the page */

.pagetitle {
    background-color: #343434;
    padding: 5px;
    margin: 10px;
}

.pagetitleborder {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 5px solid #542C7C;
}

.pagetitle h1 {
    padding: 10px;
    color: black;
    font-size: 50px;
    font-family: arial;
}

.pagetitle h2 {
    padding: 10px;
    color: black;
    font-size: 35px;
    font-family: sans-serif;
}