.ReviewsContainer {
    width: 96%;
    height: 600px;
    padding: 2%;
    background-color: #CCCCCC;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}

.photo {
    width: 225px;
    height: 400px;
}

.flex-child {
    flex-basis: 25%;
    flex-grow: 1;
}

ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: #343434;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
 
  body {
    margin: 0%;
}