
#header{
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 5px solid #542C7C;

}
.sort{
display: flex;
position: absolute;
right: 14.3%;
    background-color: thistle;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    padding-left: 10px;

}
.sort p{
    margin-left: 5px;
padding-right: 5px;
    border-right: solid 1px blue;
}
.sort h5{
    margin-top: 11%;
}
.wholee{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 70%;
    margin-left: 16%;
}
.movies{
display: flex;
flex-direction: column;
margin-bottom: 6%;
margin-left: 3%;
}
.movies h1{
    width:50px;
}
.movies img{
    width: 200px;
    height: 300px; 
    border: 10px solid #542C7C;
    margin-top: 10%;
}

.whole{
    display: flex;
}
.whole h2{
    font-size: 16px;
}

.calendar img{
    width: 30px;
    height: 30px;
}
.calendar{
    display: flex;
    
}
.calendar h5{
    margin-top: 0.6%;
    
}

.text{
    margin-left:2%;
    margin-right: 6%;
 
}
.text h1{
    border-bottom: 5px solid pink;
   display: inline-block;
   margin-bottom: 0px;
} 
.text p{
    margin-top: 0%;
    margin-left: 0%;
}
  
